{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="overlay"></div>
<div class="container">
   <hr>
   <div class="row">
      <div class="center-align">
         <h2>Frequently Asked Questions</h2>
      </div>
   </div>

   <!-- FAQ Accordion -->
   
   <div id="accordion">
      <div class="card">
         {% for f in faq %}
            <div class="card-header" id="heading{{f.pk}}">
               <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{f.pk}}" aria-expanded="true" aria-controls="collapse{{f.pk}}">
                     {{f.question}}
                  </button>
               </h5>
            </div>    
            <div id="collapse{{f.pk}}" class="collapse" aria-labelledby="heading{{f.pk}}" data-parent="#accordion">
               <div class="card-body">
                  {{f.answer}}
               </div>
            </div>
         {%endfor%}
      </div>      
   </div>
</div>
{% endblock %}