{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
   <div class="row">
      <div class="center-align">
         <h2 style="text-align:center">Frequently Asked Questions</h2>
      </div>
   </div>
   <div class="row">
      <div class="center-align">
         <ul class="collapsible">
            {% for f in faq %}
            <li>
               <div class="collapsible-header">{{f.question}}</div>
               <div class="collapsible-body"><span>{{f.answer}}</span></div>
            </li>
            {%endfor%}
         </ul>
      </div>
   </div>
</div>
{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'js/faq.js' %}"></script>
{% endblock %}