<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="tea-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tea
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="tea-link">
                <a href="{% url 'products' %}?category=green_tea" class="dropdown-item">Green Tea</a>
                <a href="{% url 'products' %}?category=black_tea" class="dropdown-item">Black Tea</a>
                <a href="{% url 'products' %}?category=green_tea,black_tea" class="dropdown-item">All Tea</a>
            </div>
        </li>
        
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="teapot-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Teapots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="teapot-link">
                <a href="{% url 'products' %}?category=yixing_teapots" class="dropdown-item">Yixing Teapots </a>
                <a href="{% url 'products' %}?category=cast_iron_teapots" class="dropdown-item">Cast Iron Teapots</a>
                <a href="{% url 'products' %}?category=porcelain_teapots" class="dropdown-item">Porcelain Teapots</a>
                <a href="{% url 'products' %}?category=glass_teapots" class="dropdown-item">Glass Teapots</a>
                <a href="{% url 'products' %}?category=cast_iron_teapots,glass_teapots,porcelain_teapots,yixing_teapots" class="dropdown-item">All Teapots</a>
            </div>
        </li>        

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="faq-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                FAQ
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="faq-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">Teapots</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Tea</a>
                
            </div>
        </li>
    </ul>
</div>